<!DOCTYPE html>
<html lang="en">
  <% alias PfdsVisualizationsWeb.Navigation %>
  <% IO.puts "STATIC PATH: #{Routes.static_url(@conn, "/images/border.svg")} "%>
  <% sanitized_path = Navigation.sanitize_path(Phoenix.Controller.current_path(@conn, %{})) %>
  <% links = Navigation.links_for(sanitized_path) %>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Purely Functional Data Structures in Elixir</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="nav-container">
      <%= if links[:prev] do %>
        <%= button("<", to: links[:prev], class: "nav-back", method: "get") %>
      <% end %>
          <h1>Purely Functional Data Structures in Elixir</h1>
      <%= if links[:next] do %>
        <%= button(">", to: links[:next], class: "nav-forward", method: "get") %>
      <% end %>
      </section>
    </header>
      <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
