/* This file is for your main application css. */

@import "./phoenix.css";
@import "./dracula.css";

:root {
  --gaslight-black: #2d2d2d;
  --gaslight-lightgrey: #eee;
  --gaslight-grey: #666;
  --gaslight-blue: #69c3e2;
  --gaslight-yellow: #eacd1f;
  --gaslight-red: #e05851;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.tree-container {
  display: flex;
  justify-content: center;
}

.left-tree {
  transform: translate(-2em, 2em)
}

.right-tree {
  transform: translate(2em, 2em)
}

.level {
  display: flex;
}

.black-node {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-color: black;
  background-color: black;
  color: white;
}

.red-node {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-color: red;
  background-color: red;
  color: white;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-container {
  justify-content: center;
}

.nav-back {
    position: absolute;
    left: 10px;
    background: initial;
    border: initial;
    color: #0069d9;
    font-size: 24px;
}

.nav-forward {
    position: absolute;
    right: 10px;
    background: initial;
    border: initial;
    color: #0069d9;
    font-size: 24px;
}

.row.data-structure-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.data-structure-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Get the TreeView div */
div[data-phx-view="PfdsVisualizationsWeb.RedBlackTreeLiveView"] {
  width: 100%;
  height: 100%;
}

/* Slide views */
div[data-phx-view="PfdsVisualizationsWeb.SlideLive"] {
  width: 100%;
  min-height: 91%;
  border: 2rem solid transparent;
  border-image: url("/images/border.svg") 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.slide-content {
  transform: translateY(20rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.slide-content > h1 {
  font-weight: 300;
  font-size: 6rem;
}

.slide-content > p {
  font-weight: 200;
  font-size: 3rem;
}

pre {
  width: 100%;
  background-color: var(--gaslight-black);
}

code {
  font-size: 2rem;
  background-clip: var(--gaslight-black);
}


/* Dracula */
/* Dracula Theme v1.2.5
 *
 * https://github.com/dracula/highlightjs
 *
 * Copyright 2016-present, All rights reserved
 *
 * Code licensed under the MIT license
 *
 * @author Denis Ciccale <dciccale@gmail.com>
 * @author Zeno Rocha <hi@zenorocha.com>
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #8be9fd;
}

.hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title {
  color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: #bd93f9;
}

.hljs-emphasis {
  font-style: italic;
}
