/* This file is for your main application css. */

@import "./phoenix.css";

:root {
  --gaslight-black: #2d2d2d;
  --gaslight-lightgrey: #eee;
  --gaslight-grey: #666;
  --gaslight-blue: #69c3e2;
  --gaslight-yellow: #eacd1f;
  --gaslight-red: #e05851;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.tree-container {
  display: flex;
  justify-content: center;
}

.left-tree {
  transform: translate(-2em, 2em)
}

.right-tree {
  transform: translate(2em, 2em)
}

.level {
  display: flex;
}

.black-node {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-color: black;
  background-color: black;
  color: white;
}

.red-node {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-color: red;
  background-color: red;
  color: white;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-container {
  justify-content: center;
}

.nav-back {
    position: absolute;
    left: 10px;
    background: initial;
    border: initial;
    color: #0069d9;
    font-size: 24px;
}

.nav-forward {
    position: absolute;
    right: 10px;
    background: initial;
    border: initial;
    color: #0069d9;
    font-size: 24px;
}

.row.data-structure-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.data-structure-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Get the TreeView div */
div[data-phx-view="PfdsVisualizationsWeb.RedBlackTreeLiveView"] {
  width: 100%;
  height: 100%;
}

/* Slide pages */
.slide-container {
  width: 100%;
  min-height: 91%;
  border: 2rem solid transparent;
  border-image: url("/images/border.svg") 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.slide-content {
  transform: translateY(20rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.slide-content > h1 {
  font-weight: 300;
  font-size: 6rem;
}

.slide-content > p {
  font-weight: 200;
  font-size: 3rem;
}

pre {
  width: 100%;
  background-color: var(--gaslight-black);
}

code {
  font-size: 2rem;
}