<h1>What do we mean by "Purely Functional Data Structure"?</h1>
<p style="visibility: <%= PfdsVisualizationsWeb.SlideView.show(:reveal_1, @revealed) %>">
  Immutable
</p>
<p style="visibility: <%= PfdsVisualizationsWeb.SlideView.show(:reveal_2, @revealed) %>">
  Persistent
</p>