<h1>Methods Of Amortization</h1>
<p>Which brings us to...</p>
<div style="width: 100;
            <%= render_visible(:reveal_1, @revealed) %>
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;">
  <h2><strong><i>The Banker's Method</strong></i></h2>
  <img src="/images/money.gif">
</div>