<h1>Let's Talk A Bit About Persistence</h1>
<p style="visibility: <%= PfdsVisualizationsWeb.SlideView.show(:reveal_1, @revealed) %>">
Persistence is pretty awesome! <br/>
And we get it for free in Elixir (and Erlang, and other functional languages too!)
</p>
<p style="visibility: <%= PfdsVisualizationsWeb.SlideView.show(:reveal_2, @revealed) %>">
Instead of updating by mutating our data structures, we create new versions of data that can coexist
in harmony with old versions!
</p>