<h1>A Little Refresher</h1>
<pre style="visibility: <%= PfdsVisualizationsWeb.SlideView.show(:reveal_code, @revealed) %>">
  <code class="elixir">
    Stacks    Binary Search Trees     And     Of      I
    Queues    Balanced Binary Trees   A       Other   Have
    Heaps     Sets                    Bunch   Stuff   Forgotten
  </code>
</pre>