<h1>Sharing</h1>
<p style="visibility: <%= PfdsVisualizationsWeb.SlideView.show(:reveal_1, @revealed) %>">
  We copy all affected nodes in a data structure, and then make all changes in the copy.
</p>
<p style="visibility: <%= PfdsVisualizationsWeb.SlideView.show(:reveal_2, @revealed) %>">
  Since we are never modifying any nodes in the original structure directly, we can <br/>
  <i>share</i> all nodes that are unaffected by an update between the new version and the old version.
</p>