<section class="row data-structure-container">
  <h1 class="data-structure-title"><u>Red Black Trees</u></h1>
  <% grid = make_grid(@rb_tree) %>
  <% IO.puts "Grid: #{inspect(grid, pretty: true)}"%>
  <svg class="tree-container" style="width: 100vw; height: 100vh;" viewBox="0 0 <%= grid[:dimensions][:width] %> <%= grid[:dimensions][:height] %>">
    <%= visualize(@rb_tree, 0, RedBlackTree.depth(@rb_tree), {grid[:starting_coordinates][:x], grid[:starting_coordinates][:y]}) %>
  </svg>
